@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	background: #243040;
	/* background: #173e43; */
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
}
.blue-color {
	color: #d93a2b;
}
.yellow-color {
	color: #d9caad;
}

.btn:hover {
	opacity: 0.9;
}
.pin-color {
	color: blueviolet;
	font-size: 2rem;
}

.btn-secondary {
	font: inherit;
	font-size: 13px;
	background: #243040;
	color: #fff !important;
	border: 0;
	border-radius: 5px;
	padding: 5px 15px;
	margin: 0 20px;
	cursor: pointer;
}

.btn-secondary:hover {
	opacity: 0.8;
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-icon svg {
	margin-right: 5px;
}
